@font-face {
    font-family: montserrat;
    src: url(Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: montserrat_black;
    src: url(Montserrat/static/Montserrat-Black.ttf);
}